.slider {
    background-color: aqua;
    padding: 5rem;
    height: 50rem;

    .testimonial__card {

        background-color: yellowgreen;

        margin-right: 2rem;
        padding: 3rem;
        
    }
}